@page "/activities"
@layout MainLayoutClient
@using StockManagement.Client.Components
@using StockManagement.Client.Shared
@rendermode InteractiveWebAssembly
@inherits ActivitiesBase
<PageTitle>Activities</PageTitle>

<h3>Activities</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <button class="btn btn-primary mb-2" @onclick="ShowAddForm">Add Activity</button>

    <ActivityEditModal Show="ShowForm"
                       EditActivity="EditActivity"
                       Lookups="Lookups"
                       OnCancel="CancelEdit"
                       OnValidSubmit="HandleValidSubmit" />

@*     <ConfirmDialogModal Show="ShowDeleteConfirm"
                        ConfirmationResult="HandleDeleteConfirmation" /> *@

    <div class="card mb-3">
        <div class="card-header" style="cursor:pointer"
             @onclick="ToggleFilters">
            <strong>Filters</strong>
            <span class="float-end">
                <i class="bi @(filtersExpanded ? "bi-chevron-down" : "bi-chevron-right")"></i>
            </span>
        </div>
        @if (filtersExpanded)
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputDate @bind-Value="activityFilterModel.Date" class="form-control" />
                            <label for="dateFilter">Date:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ProductTypeId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ProductTypeList != null)
                                {
                                    foreach (var pt in Lookups.ProductTypeList)
                                    {
                                        <option value="@pt.Id">@pt.ProductTypeName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="productTypeFilter">Product Type:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ProductId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ProductList != null)
                                {
                                    foreach (var p in Lookups.ProductList)
                                    {
                                        <option value="@p.Id">@p.ProductName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="productFilter">Product:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ActionId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ActionList != null)
                                {
                                    foreach (var a in Lookups.ActionList)
                                    {
                                        <option value="@a.Id">@a.ActionName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="actionFilter">Action:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.LocationId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.LocationList != null)
                                {
                                    foreach (var v in Lookups.LocationList)
                                    {
                                        <option value="@v.Id">@v.Name</option>
                                    }
                                }
                            </InputSelect>
                            <label for="locationFilter">Location:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputNumber @bind-Value="activityFilterModel.Quantity" class="form-control" />
                            <label for="productFilter">Quantity:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-2 text-end">
                        <button class="btn btn-sm btn-primary me-1" @onclick="OnFilter">Filter</button>
                        <button class="btn btn-sm btn-secondary" @onclick="OnReset" type="button">Reset</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-none d-lg-block">
        <div class="px-3 py-2">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <div class="fw-bold">
                                Date
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="fw-bold">
                                Type
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="fw-bold">
                                Product
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="fw-bold">
                                Action
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="fw-bold">
                                Location
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="fw-bold">
                                Quantity
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    int rowIndex = 0;
    @foreach (var activity in Activities)
    {
        var rowClass = rowIndex % 2 == 0 ? "alt-row" : "";
        <div class="card mb-3 mb-lg-0 @rowClass">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-4 d-lg-none">
                                Date:
                            </div>
                            <div class="col-8 col-lg-1">
                                <div class="">
                                    @activity.ActivityDate.ToString("dd MMM yy")
                                </div>
                            </div>
                            <div class="col-4 d-lg-none">
                                Type:
                            </div>
                            <div class="col-8 col-lg-1">
                                <div class="">
                                    @activity.ProductTypeName
                                </div>
                            </div>
                            <div class="col-4 d-lg-none">
                                Product:
                            </div>
                            <div class="col-8 col-lg-3">
                                <div class="">
                                    @activity.ProductName
                                </div>
                            </div>
                            <div class="col-4 d-lg-none">
                                Action:
                            </div>
                            <div class="col-8 col-lg-2">
                                <div class="">
                                    @activity.ActionName
                                </div>
                            </div>
                            <div class="col-4 d-lg-none">
                                Location:
                            </div>
                            <div class="col-8 col-lg-2">
                                <div class="">
                                    @activity.LocationName
                                </div>
                            </div>
                            <div class="col-4 d-lg-none">
                                Quantity:
                            </div>
                            <div class="col-8 col-lg-1">
                                <div class="">
                                    @activity.Quantity
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                @if (activity.DeliveryNoteId > 0)
                                {
                                    <button class="btn btn-link" title="Show Delivery Note" @onclick="() => OpenDeliveryNote(activity.DeliveryNoteId)">
                                        <i class="bi bi-truck"></i>
                                    </button>
                                }
                                else if (activity.StockSaleId > 0)
                                {
                                    <button class="btn btn-link" title="Show Delivery Note" @onclick="() => OpenStockSale(activity.StockSaleId)">
                                        <i class="bi bi-currency-pound"></i>
                                    </button>
                                }
                                else if (activity.StockOrderId > 0)
                                {
                                    <button class="btn btn-link" title="Show Delivery Note" @onclick="() => OpenStockOrder(activity.StockOrderId)">
                                        <i class="bi bi-box"></i>
                                    </button>
                                }
@*                                 else
                                {
                                    <button class="btn btn-sm btn-warning me-1 mt-1" @onclick="() => Edit(activity)">Edit</button>
                                    <button class="btn btn-sm btn-danger mt-1" @onclick="() => Delete(activity.Id)">Delete</button>
                                } *@
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(activity.Notes))
                        {
                        <div class="row">
                            <div class="col-12 offset-lg-2 col-lg-8 mt-1 mt-lg-0">
                                <span class="text-muted">Notes: @activity.Notes</span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        rowIndex++;
    }

    <Pagination CurrentPage="@activityFilterModel.CurrentPage"
                TotalPages="@TotalPages"
                OnPageChanged="GoToPage" />
}
