@using StockManagement.Client.Components
@page "/activities"
@rendermode InteractiveWebAssembly
@inherits ActivitiesBase

<h3>Activities</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <button class="btn btn-primary mb-2" @onclick="ShowAddForm">Add Activity</button>

    <ActivityEditModal Show="ShowForm"
                       EditActivity="EditActivity"
                       Lookups="Lookups"
                       OnCancel="CancelEdit"
                       OnValidSubmit="HandleValidSubmit" />

    <ConfirmDialogModal Show="ShowDeleteConfirm"
                        ConfirmationResult="HandleDeleteConfirmation" />

    <div class="card mb-3">
        <div class="card-header" style="cursor:pointer"
             @onclick="ToggleFilters">
            <strong>Filters</strong>
            <span class="float-end">
                <i class="bi @(filtersExpanded ? "bi-chevron-down" : "bi-chevron-right")"></i>
            </span>
        </div>
        @if (filtersExpanded)
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputDate @bind-Value="activityFilterModel.Date" class="form-control" />
                            <label for="dateFilter">Date:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ProductTypeId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ProductTypeList != null)
                                {
                                    foreach (var pt in Lookups.ProductTypeList)
                                    {
                                        <option value="@pt.Id">@pt.ProductTypeName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="productTypeFilter">Product Type:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ProductId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ProductList != null)
                                {
                                    foreach (var p in Lookups.ProductList)
                                    {
                                        <option value="@p.Id">@p.ProductName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="productFilter">Product:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.ActionId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.ActionList != null)
                                {
                                    foreach (var a in Lookups.ActionList)
                                    {
                                        <option value="@a.Id">@a.ActionName</option>
                                    }
                                }
                            </InputSelect>
                            <label for="actionFilter">Action:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputSelect @bind-Value="activityFilterModel.LocationId" class="form-select">
                                <option value="">All</option>
                                @if (Lookups?.LocationList != null)
                                {
                                    foreach (var v in Lookups.LocationList)
                                    {
                                        <option value="@v.Id">@v.Name</option>
                                    }
                                }
                            </InputSelect>
                            <label for="locationFilter">Location:</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <InputNumber @bind-Value="activityFilterModel.Quantity" class="form-control" />
                            <label for="productFilter">Quantity:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-2 text-end">
                        <button class="btn btn-sm btn-primary me-1" @onclick="OnFilter">Filter</button>
                        <button class="btn btn-sm btn-secondary" @onclick="OnReset" type="button">Reset</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-none d-lg-block">
        <div class="px-3 py-2">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <div class="fw-bold">
                                Date
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="fw-bold">
                                Type
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="fw-bold">
                                Product
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="fw-bold">
                                Action
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="fw-bold">
                                Location
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="fw-bold">
                                Quantity
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    int rowIndex = 0;
    @foreach (var activity in Activities)
    {
        var rowClass = rowIndex % 2 == 0 ? "alt-row" : "";
        <div class="card mb-3 mb-lg-0 @rowClass">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-1">
                                <div class="">
                                    @activity.ActivityDate.ToString("dd MMM yy")
                                </div>
                            </div>
                            <div class="col-5 col-md-2 col-lg-1">
                                <div class="">
                                    @activity.ProductTypeName
                                </div>
                            </div>
                            <div class="col-7 col-md-7 col-lg-3">
                                <div class="">
                                    @activity.ProductName
                                </div>
                            </div>
                            <div class="col-5 col-md-5 col-lg-2">
                                <div class="">
                                    @activity.ActionName
                                </div>
                            </div>
                            <div class="col-5 col-md-5 col-lg-2">
                                <div class="">
                                    @activity.LocationName
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-1">
                                <div class="">
                                    @activity.Quantity
                                </div>
                            </div>
                            <div class="col-lg-2">
                                @if (activity.DeliveryNoteId > 0)
                                {
                                    <button class="btn btn-link" title="Show Delivery Note" @onclick="() => OpenDeliveryNote(activity.DeliveryNoteId)">
                                        <i class="bi bi-clipboard"></i>
                                    </button>
                                }
                                else if (activity.StockReceiptId > 0)
                                {
                                    <button class="btn btn-link" title="Show Delivery Note" @onclick="() => OpenStockReceipt(activity.StockReceiptId)">
                                        <i class="bi bi-box-seam"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-warning me-1 mt-1" @onclick="() => Edit(activity)">Edit</button>
                                    <button class="btn btn-sm btn-danger mt-1" @onclick="() => Delete(activity.Id)">Delete</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        rowIndex++;
    }

    <nav class="mt-lg-3">
        <ul class="pagination justify-content-center">
            <li class="page-item @(activityFilterModel.CurrentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="PreviousPage">&laquo;</button>
            </li>
            @if (StartPage > 1)
            {
                <li class="page-item">
                    <button class="page-link" @onclick="() => GoToPage(1)">1</button>
                </li>
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }
            @for (int i = StartPage; i <= EndPage; i++)
            {
                var pageNumber = i; // Capture the current value of i
                <li class="page-item @(activityFilterModel.CurrentPage == pageNumber ? "active" : "")">
                    <button class="page-link" @onclick="() => GoToPage(pageNumber)">@pageNumber</button>
                </li>
            }
            @if (EndPage < TotalPages)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item">
                    <button class="page-link" @onclick="() => GoToPage(TotalPages)">@TotalPages</button>
                </li>
            }
            <li class="page-item @(activityFilterModel.CurrentPage == TotalPages ? "disabled" : "")">
                <button class="page-link" @onclick="NextPage">&raquo;</button>
            </li>
        </ul>
    </nav>
}
