@page "/sales-report"
@inherits SalesReportBase
@rendermode InteractiveWebAssembly

<h3>Sales Report</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <ReportFilter Lookups="Lookups"
                  @bind-VenueId="VenueId"
                  @bind-ProductTypeId="ProductTypeId"
                  @bind-ProductId="ProductId" />

    if (SalesReportItems == null || !SalesReportItems.Any())
    {
        <p>No sales data available.</p>
    }
    else
    {
        foreach (var venue in GroupedSalesReport)
        {
            <h4 class="venue-group">@venue.Key</h4>
            foreach (var productType in venue.Value)
            {
                <h5 class="product-group">@productType.Key</h5>
                var totalSalesQuantity = productType.Value.Sum(item => item.TotalSales);
                <table class="table table-striped auto-width-table indented-table">
                    <tbody>
                        @foreach (var item in productType.Value)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.TotalSales</td>
                            </tr>
                        }
                        <tr style="font-weight:600;">
                            <td>Total</td>
                            <td>@totalSalesQuantity</td>
                        </tr>
                    </tbody>
                </table>
            }
        }      
    }
}
