@page "/sales-report"
@inherits SalesReportBase
@rendermode InteractiveWebAssembly
<PageTitle>Sales Report</PageTitle>

<h3>Sales Report</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <ReportFilter Lookups="Lookups"
                  @bind-LocationId="LocationId"
                  @bind-ProductTypeId="ProductTypeId"
                  @bind-ProductId="ProductId" />

    if (SalesReportItems == null || !SalesReportItems.Any())
    {
        <p>No sales data available.</p>
    }
    else
    {
        foreach (var location in GroupedSalesReport)
        {
            <h4 class="location-group">
                @location.Key
                @if (location.Key != "Totals")
                {
                    <button class="btn btn-link ms-2" title="Show Notes" @onclick="() => ShowLocationNotes(location.Key)">
                        <i class="bi bi-journal-text"></i>
                    </button>
                }
            </h4>

            foreach (var productType in location.Value)
            {
                <h5 class="product-group">@productType.Key</h5>
                var totalSalesQuantity = productType.Value.Sum(item => item.TotalSales);
                <table class="table table-striped auto-width-table indented-table">
                    <tbody>
                        @foreach (var item in productType.Value)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.TotalSales</td>
                            </tr>
                        }
                        <tr style="font-weight:600;">
                            <td>Total</td>
                            <td>@totalSalesQuantity</td>
                        </tr>
                    </tbody>
                </table>
            }
        }      
    }
}

@if (ShowNotesPanel)
{
    <div class="modal show d-block" tabindex="-1" style="background:rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notes for @SelectedLocationTitle</h5>
                    <button type="button" class="btn-close" @onclick="CloseNotesPanel"></button>
                </div>
                <div class="modal-body">
                    @((MarkupString)SelectedLocationNotes.Replace("\n", "<br />"))
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseNotesPanel">Close</button>
                </div>
            </div>
        </div>
    </div>
}
