@page "/"
@page "/stock-report"
@inherits StockReportBase
@rendermode InteractiveWebAssembly

<h3>Stock Report</h3>

<ActivityEditModal Show="ShowEditForm"
                   EditActivity="NewActivity"
                   Lookups="Lookups"
                   OnCancel="CancelEdit"
                   OnValidSubmit="HandleValidSubmit" />

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <ReportFilter
        Lookups="Lookups"
        @bind-VenueId="VenueId"
        @bind-ProductTypeId="ProductTypeId"
        @bind-ProductId="ProductId" />

    if (StockReportItems == null || !StockReportItems.Any())
    {
        <p>No stock data available.</p>
    }
    else
    {
        @foreach (var venueGroup in GroupedStockReport)
        {
            <h4 class="venue-group">
                @venueGroup.Key
                @if (venueGroup.Key != "Totals")
                {
                    <button class="btn btn-link ms-2" title="Show Notes" @onclick="() => ShowVenueNotes(venueGroup.Key)">
                        <i class="bi bi-journal-text"></i>
                    </button>
                }
            </h4>
            @foreach (var productTypeGroup in venueGroup.Value)
            {
                <h5 class="product-group">@productTypeGroup.Key</h5>
                var totalQuantity = productTypeGroup.Value.Sum(item => item.TotalQuantity);
                <table class="table table-striped auto-width-table indented-table">
                    <tbody>
                        @foreach (var item in productTypeGroup.Value)
                        {
                            <tr>
                                <td>
                                    <a href="#" class="" @onclick="() => ShowActivityForm(item)">
                                        @item.ProductName
                                    </a>
                                </td>
                                <td>@item.TotalQuantity</td>
                            </tr>
                        }
                        <tr style="font-weight:600;">
                            <td>Total</td>
                            <td>@totalQuantity</td>
                        </tr>
                    </tbody>
                </table>
            }
        }     
    }
}

@if (ShowNotesPanel)
{
    <div class="modal show d-block" tabindex="-1" style="background:rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notes for @SelectedVenueTitle</h5>
                    <button type="button" class="btn-close" @onclick="CloseNotesPanel"></button>
                </div>
                <div class="modal-body">
                    @((MarkupString)SelectedVenueNotes.Replace("\n", "<br />"))
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseNotesPanel">Close</button>
                </div>
            </div>
        </div>
    </div>
}
