@page "/stock-receipt/{StockReceiptId:int}"
@rendermode InteractiveWebAssembly
@inherits StockReceiptBase

<h3>Stock Receipt</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-2">
                    <label>Date:</label>
                    <InputDate class="form-control" @bind-Value="EditStockReceipt.Date" />
                </div>
                <div class="mb-2">
                    <label>Supplier:</label>
                    <InputSelect class="form-control" @bind-Value="EditStockReceipt.SupplierId">
                        <option value="0">-- Select Supplier --</option>
                        @if (Lookups?.SupplierList != null)
                        {
                            foreach (var supplier in Lookups.SupplierList)
                            {
                                <option value="@supplier.Id">@supplier.SupplierName</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" type="submit" disabled="@( !IsFormValid || !IsDirty )">Save</button>
                    @if (EditStockReceipt.Id > 0)
                    {
                        <button class="btn btn-danger ms-2" type="button" @onclick="DeleteStockReceipt">Delete</button>
                    }
                </div>
            </EditForm>
        </div>
        <div class="col-md-6 d-none d-md-block border rounded p-2">
            <p>Products saved with a stock receipt will be moved into stock.</p>
            <p>Corresponding 'Activity' records will be created.</p>
        </div>
    </div>

    @if (EditStockReceipt.Id > 0)
    {
        <div class="row">
            <div class="col d-flex justify-content-between pt-2">
                <button class="btn btn-primary mb-2" @onclick="ShowAddDetailForm" disabled="@( IsDirty )">Add Product</button>
            </div>
        </div>

        <StockReceiptDetailEditModal Show="ShowEditDetailForm"
                           EditStockReceiptDetail="EditStockReceiptDetail"
                           Lookups="Lookups"
                           OnCancel="CancelDetailEdit"
                           OnValidSubmit="HandleValidDetailSubmit" />

        <div class="d-none d-md-block">
            <div class="px-3 py-2">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="fw-bold">
                                    Product Type
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4">
                                <div class="fw-bold">
                                    Product
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-5">
                                <div class="fw-bold">
                                    Quantity
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        int rowIndex = 0;
        @foreach (var stockReceiptDetail in EditStockReceipt.DetailList)
        {
            var rowClass = rowIndex % 2 == 0 ? "alt-row" : "";
            <div class="card mb-3 mb-lg-0 @rowClass">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-4 d-md-none">
                                    Type:
                                </div>
                                <div class="col-8 col-md-4 col-lg-3">
                                    @stockReceiptDetail.ProductTypeName
                                </div>
                                <div class="col-4 d-md-none">
                                    Product:
                                </div>
                                <div class="col-8 col-md-5 col-lg-4">
                                    @stockReceiptDetail.ProductName
                                </div>
                                <div class="col-4 d-md-none">
                                    Quantity:
                                </div>
                                <div class="col-8 col-md-3 col-lg-2">
                                    @stockReceiptDetail.Quantity
                                </div>
                                <div class="col-12 col-lg-3">
                                    <button class="btn btn-sm btn-warning" @onclick="() => EditDetail(stockReceiptDetail)">Edit</button>
                                    <button class="btn btn-sm btn-danger ms-2" @onclick="() => DeleteDetail(stockReceiptDetail.Id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            rowIndex++;
        }
    }

}
