@* @using StockManagement.Models
<div class="filters">
    <label for="venueFilter">Venue:</label>
    <InputSelect id="venueFilter" @bind-Value="VenueId" @onchange="OnVenueChanged">
        <option value="0">All Venues</option>
        @foreach (var venue in Lookups.VenueList)
        {
            <option value="@venue.Id">@venue.VenueName</option>
        }
    </InputSelect>

    <label for="productTypeFilter">Product Type:</label>
    <InputSelect id="productTypeFilter" @bind-Value="ProductTypeId" @onchange="OnProductTypeChanged">
        <option value="0">All Product Types</option>
        @foreach (var productType in Lookups.ProductTypeList)
        {
            <option value="@productType.Id">@productType.ProductTypeName</option>
        }
    </InputSelect>

    <label for="productFilter">Product:</label>
    <InputSelect id="productFilter" @bind-Value="ProductId" @onchange="OnProductChanged">
        <option value="0">All Products</option>
        @foreach (var product in Lookups.ProductList)
        {
            <option value="@product.Id">@product.ProductName</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter] public int VenueId { get; set; }
    [Parameter] public int ProductTypeId { get; set; }
    [Parameter] public int ProductId { get; set; }
    [Parameter] public LookupsModel Lookups { get; set; } = new LookupsModel();
    [Parameter] public EventCallback OnVenueChanged { get; set; }
    [Parameter] public EventCallback OnProductTypeChanged { get; set; }
    [Parameter] public EventCallback OnProductChanged { get; set; }
}
 *@